src/main/resources/META-INF/wsdl/EmployeeService/GetEmployeeDetailService/GetEmployeeDetail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetail/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="GetEmployeeDetail"
  targetNamespace="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetail/"
  xmlns:xsd1="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetailRequest"
  xmlns:xsd2="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetailResponse">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetail/">
      <xsd:element name="getEmployeeDetailRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEmployeeDetailResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import
        namespace="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetailRequest"
        schemaLocation="GetEmployeeDetailRequest.xsd">
      </xsd:import>
      <xsd:import
        namespace="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetailResponse"
        schemaLocation="GetEmployeeDetailResponse.xsd">
      </xsd:import>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getEmployeeDetailRequest">
    <wsdl:part name="parameters" element="xsd1:GetEmployeeDetailRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmployeeDetailResponse">
    <wsdl:part name="parameters" element="xsd2:GetEmployeeDetailResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetEmployeeDetailPortType">
    <wsdl:operation name="getEmployeeDetail">
            <wsdl:input message="tns:getEmployeeDetailRequest"></wsdl:input>
            <wsdl:output message="tns:getEmployeeDetailResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetEmployeeDetailSOAPBinding" type="tns:GetEmployeeDetailPortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEmployeeDetail">
      <soap:operation
        soapAction="http://com/sample/company/employeeservice/getemployeedetailservice/GetEmployeeDetail/getEmployeeDetail" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeDetailService">
    <wsdl:port binding="tns:GetEmployeeDetailSOAPBinding" name="GetEmployeeDetailSOAPPort">
      <soap:address location="http://www.mysample.org/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions> 